html,body,div,h1,h2,h3,h4,h5,h6,ul,li,a {padding:0; margin:0;}
body {background-color:#c99e6c;}
h1,h2,h3,h4,h5,h6,input {font-family:GowunBatang-Regular, Arial, Helvetica, sans-serif; color:#222;}
h1,h2,h3 {font-weight:700; line-height:1.4;}
h4,h5,h6 {font-weight:400; line-height:1.4;}
html::-webkit-scrollbar,
body::-webkit-scrollbar {display:none;}
a, a:link, a:visited, a:active, a:hover {text-decoration:none; cursor:pointer;}
a, input, label, button, input:focus {-webkit-tap-highlight-color:transparent; outline:none;}
ul {list-style:none; margin-block-start:0; margin-block-end:0; margin-inline-start:0px; margin-inline-end:0px; padding-inline-start:0;}
button {background:none; border:none; cursor:pointer;}
button:hover {background-color:none;}

@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@keyframes blink {0% {opacity:1;} 50% {opacity:.7;} 100% {opacity:1;}}
@keyframes anchor {0% {transform:translateY(0);} 50% {transform:translateY(-10px);} 100% {transform:translateY(0);}}
@keyframes main-fadeout {0% {opacity:1;} 100% {opacity:0;}}
@keyframes updown {0% {transform:translateY(-10px);} 50% {transform:translateY(10px);} 100% {transform:translateY(-10px);}}

.arrow-down div {position:absolute; bottom:20px; left:calc((100% / 2) - 28px); width:56px; height:20px; background:url(../img/arrow_down_gray.svg) center no-repeat; background-size:100%; animation:anchor 1s infinite ease-in-out; z-index:200;}
.arrow-down.white div {width:56px; height:20px; background:url(../img/arrow_down_white.svg) center no-repeat; background-size:100%;}

.sec0, .sec2, .sec3, .sec4, .sec5 {z-index:100;}

body {display:flex; justify-content:center; background-color:#222;}
.wrap {width:100%; max-width:500px; box-sizing:border-box;}
.wrap .header {display:flex; position:fixed; flex-flow:column; justify-content:center; align-items:center; width:100%; max-width:500px; height:70px; background-color:#c99e6c; z-index:1000;}
.wrap .header h3 {color:#fff; font-weight:700;}
.wrap .header h4 {color:#fff; animation:blink 1.4s infinite ease-in-out;}
.wrap .header h4 span {font-weight:700;}
.wrap .content {padding-top:70px;}
.wrap .content .section {position:relative; max-width:500px; height:calc(100vh - 70px); padding:20px 20px; background-color:#fff; box-sizing:border-box;}
.wrap .content .section.bg {position:fixed; width:100%; aspect-ratio:3 / 4; padding:0 20px 20px; background:url(../img/main.png) center no-repeat; background-size:cover; box-sizing:border-box; z-index:0;}
.wrap .content .section.bg2 {position:fixed; bottom:0; width:100%; aspect-ratio:3 / 4; background:url(../img/main_layer.png) center no-repeat; background-size:cover; box-sizing:border-box; z-index:1;}
.wrap .content .section.sec0 {display:flex; flex-flow:column; align-items:center; justify-content:center; width:100%; aspect-ratio:3 / 4; padding:0 20px 20px; background:url(../img/main_white.png) center no-repeat; background-size:cover; box-sizing:border-box; z-index:100;}
.wrap .content .section.sec0 .txt {margin-top:170px; font-size:20px; text-align:center;}
.wrap .content .section.sec1 {width:100%; aspect-ratio:3 / 4; padding:0 20px 20px; background:transparent; background-size:cover; box-sizing:border-box;}
.wrap .content .section.sec1 .main {display:flex; flex-flow:column; justify-content:space-between; height:100%;}
.wrap .content .section.sec1 .main .tit {font-family: 'Courgette', cursive; color:#fff; font-size:80px; text-align:center; animation:updown 1s infinite ease-in-out; z-index:0;}
.wrap .content .section.sec1 .main .txt {text-align:right; margin-bottom:56px; z-index:100;}
.wrap .content .section.sec1 .main .txt h2 {font-family:'Cafe24Dangdanghae'; font-size:33px; color:#fff;}
.wrap .content .section.sec1 .main .txt h2 span {font-size:45px; color:#fff;}
.wrap .content .section.sec1 .main .txt h3 {margin-top:10px; font-family:'Cafe24Dangdanghae'; font-size:24px; color:#fff;}
.wrap .content .section.sec2 {display:flex; flex-flow:column; align-items:center; justify-content:space-between;}
.wrap .content .section.sec2 .dv {width:calc(100% - 40px); height:40px; background:url(../img/divider.svg) center no-repeat; background-size:100%;}
.wrap .content .section.sec2 .dv.end {transform: rotate(180deg);}
.wrap .content .section.sec2 h3 {color:#844a0c; text-align:center;}
.wrap .content .section.sec2 h4 {margin-top:30px; text-align:center;}
.wrap .content .section.sec3 {display:flex; align-items:center; padding:20px 0; background-color:#fafafa;}
.wrap .content .section.sec3 .swiper .swiper-wrapper .swiper-slide img {width:100%; border-radius:10px;}
.wrap .content .section.sec5 {height:auto; background-color:#222;}
.wrap .content .section.sec5 ul {padding:0; margin:0;}
.wrap .content .section.sec5 ul li {display:flex; justify-content:space-between; align-items:center; padding:15px 0; list-style:none;}
.wrap .content .section.sec5 ul li ~ li {border-top:1px solid #555;}
.wrap .content .section.sec5 ul li div {width:70%;}
.wrap .content .section.sec5 ul li div h3 {color:#fff;}
.wrap .content .section.sec5 ul li div h4 {color:#fff;}
.wrap .content .section.sec5 ul li div h4 input {position:absolute; left:20px; border:none; background:none; color:#fff; font-size:16px; text-indent:9999px;}
.wrap .content .section.sec5 ul li div h4 button {width:20px; height:20px; margin-left:5px; background:url(../img/copy.svg) center no-repeat; background-size:20px;}
.wrap .content .section.sec5 ul li .call {width:48px; height:48px; background-color:#fafafa; background:url(../img/call.svg) center no-repeat; background-size:48px;}
.wrap .content .section.sec5 .toast {display:flex; position:absolute; left:calc(50% - 120px); bottom:30px; align-items:center; justify-content:center; width:240px; height:40px; border-radius:20px; background-color:#fff; opacity:0; transition:1s; z-index:-1;}